[SddmGreeterTheme]
Name=Raohane
Description=Raohane login and session chooser
Author=Raohane
Copyright=(c) Raohane
License=GPL-3.0-or-later
Type=sddm-theme
Version=1.0
Website=https://github.com/killmyselfrin/raohane-dots
Screenshot=
MainScript=Main.qml
ConfigFile=theme.conf
Theme-Id=raohane
Theme-API=2.0
